<div class="main-container">
  <h4>Información</h4>
  <div class="info-container">
    <p>
      Argumentos de entrada:
      {{arguments}}
    </p>
    <p>
      Nombre de la plataforma:
      {{platformName}}
    </p>
    <p>
      Versión de node:
      {{nodeVersion}}
    </p>
    <p>
      Memoria total reservada:
      {{totalMemory}}
    </p>
    <p>
      Path de ejecución:
      {{execPath}}
    </p>
    <p>
      Process id:
      {{execPath}}
    </p>
    <p>
      Carpeta del proyecto:
      {{projectFile}}
    </p>
  </div>
</div>

<style>
  .main-container { height: 100vh; justify-content: center; display: flex; flex-direction:
  column; align-items: center; background-color: lightsalmon; padding-top: 20px;
  } .info-container { margin-top: 2%; }
</style>